

#main-tron { 
    background: grey url("../../img/main-header_sm.jpg") no-repeat center top;
    background-size: cover; 
    background-position: 50% 0%;
    border-radius: 0;
    margin-bottom: 0;
}

#main-tron h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 100px;
    color:  #fff;
    text-shadow: 2px 2px 4px #4d4d4d;
}

#search form {
    background: rgba(0, 0, 0, 0.2);
    padding: 20px 20px 10px 20px ;
}

#results-tron {
    background: grey url("../../img/doodles.png") repeat;
    padding:0;
}

#results-tron h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 100px;
}


.btn {
    padding: 7px 20px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}


.btn-primary {
    background: #33a6cc;
	color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #43d0ff;
}


.overlay {
    
    height: auto;
}

.btn-primary:active, .btn-primary.active {
    background: #43d0ff;
    box-shadow: none;
}

.overlay {
    background: rgba(0, 5, 8, 0.75);
    margin: -64px -32px;
    padding-top: 150px;
    padding-bottom: 250px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
